body {
  font-family: verdana, sans-serif;
  font-size: 14px;
  color: black;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 150px 0px 0px 0px;
}

li {
  display: inline;
}

.img {
  float: left;
  width: 200px;
  height: auto;
  padding: 0 0 150px 0;
}

/* Navbar container */
.navbar {
  background-color: #F9F9F9;
  margin: 0px 150px;
}

.navbar a {
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 100px 0;
}

.dropbtn {
  style: none;
  border: none;
  background-color: #F9F9F9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}
